@(col: List[HostGroup])


@main(title = "All host groups") {


    <div class="container">
        <div class="row">
            <h1 id="forms" class="page-header">All host groups</h1>
            <p><a href="@routes.HostGroupController.showNew" class="btn btn-default">New host group</a></p>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                @for(e <- col) {
                    <tr>
                        <td><a href="@routes.HostGroupController.edit(e._id.toString)">@e.name</a></td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>

}