@(
        e: Trigger,
        compareTypes: Seq[CompareType.Value],
        items: List[Item],
        form: Form[Trigger])

    @import template._

    @main(title = "Trigger") {

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">

                    <h1 id="forms" class="page-header">Trigger</h1>

                    @helper.form(routes.TriggerController.save(e._id.toString), 'role -> "form") {

                        @text(form("name"), "Name", "Enter name")

                        @select(form("itemId"), "Item", items.map(i => (i.name, i._id.toString)))

                        @text(form("value"), "Value", "Enter value")

                        @select(form("compareType"), "Type", compareTypes.map(ct => (ct.toString, ct.toString)))

                        @checkbox(form("active"), "Active")

                        <button type="submit" class="btn btn-default">Submit</button>

                    }

                </div>
            </div>
        </div>

    }