@(col: List[Item])


    @main(title = "All items") {


        <div class="container">
            <div class="row">
                <h1 id="forms" class="page-header">All items</h1>
                <p><a href="@routes.ItemController.showNew" class="btn btn-default">New item</a></p>
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Host</th>
                            <th>Type</th>
                            <th>Command</th>
                            <th>Data type</th>
                            <th>Units</th>
                            <th>Update interval, s.</th>
                            <th>Keep period, m.</th>
                            <th>Description</th>
                            <th>State</th>
                            <th>Chart</th>
                        </tr>
                    </thead>
                    <tbody>
                    @for(e <- col) {
                        <tr>
                            <td><a href="@routes.ItemController.edit(e._id.toString)">@e.name</a></td>
                            <td>@Host.get(e.hostId).get.name</td>
                            <td>@e.itemType</td>
                            <td>@ShellCommand.get(e.commandId).get.command</td>
                            <td>@e.dataType</td>
                            <td>@e.units</td>
                            <td>@e.updateInterval</td>
                            <td>@e.keepPeriod</td>
                            <td>@e.description</td>
                            <td>@(if(e.active) "Enabled" else "Disabled")</td>
                            <td><a href="@routes.ChartController.show(e._id.toString)">chart</a></td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>

    }