@(
        hosts: List[Host],
        itemGroups: List[ItemGroup],
        itemTypes: Seq[ItemType.Value],
        dataTypes: Seq[DataType.Value],
        commands: List[ShellCommand],
        form: Form[Item])

    @import template._

    @main(title = "New item") {

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">

                    <h1 id="forms" class="page-header">New item</h1>

                    @helper.form(routes.ItemController.saveNew, 'role -> "form") {

                        @text(form("name"), "Name", "Enter name")

                        @select(form("hostId"), "Host", hosts.map(h => (h.name, h._id.toString)))

                        @select(form("itemGroupId"), "Item group", itemGroups.map(ig => (ig.name, ig._id.toString)))

                        @select(form("itemType"), "Type", itemTypes.map(it => (it.toString, it.toString)))

                        @select(form("commandId"), "Command", commands.map(c => (c.command, c._id.toString)))

                        @select(form("dataType"), "Data type", dataTypes.map(d => (d.toString, d.toString)))

                        @text(form("units"), "Units", "Enter units")

                        @text(form("updateInterval"), "Update interval", "Enter number")

                        @text(form("keepPeriod"), "Keep period", "Enter number")

                        @text(form("description"), "Description", "Enter description")

                        @checkbox(form("active"), "Active")

                        <button type="submit" class="btn btn-default">Submit</button>

                    }

                </div>
            </div>
        </div>

    }