@(e: ShellCommand, form: Form[String])
    @import template._

    @main(title = "Shell command") {

        <div class="container">
            <div class="row">
                <h1 id="forms" class="page-header">Shell command</h1>

                @helper.form(routes.ShellCommandController.save(e._id.toString), 'role -> "form") {

                    @text(form("command"), "Command text", "Enter command")

                    <button type="submit" class="btn btn-default">Submit</button>
                }

            </div>
        </div>

    }